@{
    ViewBag.Title = "About";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="~/Content/About.css" rel="stylesheet" />
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                Fashion with Comfort !<br>

                Welcome to DD Footwear, where style meets comfort, and every step tells a story. Since 2000,
                we have been passionate about bringing you more than just shoes; we deliver an experience crafted with care,
                curated for your unique journey. Our Vision is At DD Footwear, we envision a world where footwear is not just an
                accessory but a statement. Our goal is to be your trusted partner in fashion, offering an extensive collection that blends the
                latest trends with enduring comfort. Our Mission We are on a mission to redefine your footwear experience.
                Every pair of shoes at DD Footwear is a testament to our commitment to quality craftsmanship and contemporary design.
                We strive to inspire confidence in every step you take, ensuring that your feet feel as good as they look.
            </p>
                <div class="skills">
                    <a href="Contact.html"><button>Contact Us</button>
                </div>
</div>
    </div>
</body>
