@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Site.css" rel="stylesheet" />
  <div class="jumbotron">

    <a href="http://www.google.com"><img src="~/Images/img 4.jpg" /></a>
    <h1>DD Footwears</h1>
    <p class="lead">Step up Style</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Shop Now &raquo;</a></p>
    
  </div>

<div class="row">
    <div class="col-md-4">
        <h2>Men's Collection</h2>
        <a href="http://www.google.com"><img src="~/Images/img 11.jpg" /></a>
        <p><a href="https://localhost:44304/Product" class="btn-default">View Collection &raquo;</a></p>
    </div>


    <div class="col-md-5">
        <h2>Women's Collection</h2>
        <a href="http://www.google.com"><img src="~/Images/img 12.jpg" /></a>
        <p><a href="https://localhost:44304/Product" class="btn-default">View Collection &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Kids Collection</h2>
        <a href="http://www.google.com"><img src="~/Images/img 8.jpg" /></a>
        <p><a href="https://localhost:44304/Product" class="btn-default">View Collection &raquo;</a></p>
    </div>
</div>